[Desktop Entry]
Version=1.1
Type=Application
Name=Grapejuice
Comment=Manage Roblox
Icon=$APPLICATION_DIR/src/grapejuice_common/assets/grapejuice.svg
Exec=$APPLICATION_DIR/bin/grapejuice gui
Actions=
Categories=Development;
StartupWMClass=Grapejuice
