[Desktop Entry]
Version=1.0
Type=Application
Name=Roblox Player
NoDisplay=true
OnlyShowIn=X-None;
Comment=Play roblox games!
Icon=$PLAYER_ICON
Exec=$GRAPEJUICE_EXECUTABLE player "%u"
MimeType=x-scheme-handler/roblox-player;
Categories=Game;
StartupWMClass=RobloxPlayer.exe
