[Desktop Entry]
Version=1.1
Type=Application
Name=Roblox Player
NoDisplay=true
OnlyShowIn=X-None;
Comment=Play roblox games!
Icon=$APPLICATION_DIR/src/grapejuice_common/assets/icons/hicolor/scalable/apps/roblox-player.svg
Exec=$APPLICATION_DIR/bin/grapejuice player "%u"
Actions=
MimeType=x-scheme-handler/roblox-player;
Categories=Game;
StartupWMClass=RobloxPlayer.exe
