[Desktop Entry]
Version=1.0
Type=Application
Name=Grapejuice
Comment=Manage Roblox
Icon=grapejuice
Exec=./AppRun
Categories=Development;
StartupWMClass=Grapejuice
